@import "./../../../styles/colors.scss";
@import "./../../../styles/dimensions.scss";
@import "./../../../styles/viewports.scss";

.footer-container {
    font-family: 'minecraft-font', sans-serif;
    background: $primary-brown-dark-low-opa-color;
    margin-top: 4rem;
    padding: .5rem 2rem 0 2rem;
    height: $footer-height;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $lt-sm-md) {
        margin-top: 2.5rem;
        padding: .25rem .5rem 0 .5rem;
    }

    .top {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;

        @media (max-width: $lt-sm-md) {
            font-size: 12px;
        }

        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 18px 0 12px 0;
            max-width: 1054px
        }

        li {
            text-align: center;
        }

        a {
            padding: 1rem;
            text-decoration: none;
            color: $primary-blue-lighter-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            &:hover {
                background-color: rgba($primary-deep-crimson, 0.2);
                color: $primary-blue-light-color;

                img {
                    transform: scale(1.06);
                }
            }
        }

        img {
            width: 40px;

            @media (max-width: $lt-sm-md) {
                width: 30px;
            }
        }

        .message {
            margin-top: 5px;
            font-weight: 400;

            @media (max-width: $lt-md) {
                margin-top: 4px;
                font-size: 12px;
            }

            @media (max-width: $lt-sm-md) {
                margin-top: 3.5px;
                font-size: 10px;
            }
        }
    }


    p {
        font-family: 'edunline-font', sans-serif;
        transition: color .3s ease;
        font-weight: 300;
        grid-column: span 4;
        font-size: .75rem;
        padding: .5rem .5rem .2rem .5rem;
        position: relative;
        bottom: 0;
        width: 100%;
        text-align: center;

        &:hover {
            color: $primary-blue-grey-color;
        }
    }

    @media (max-width: $lt-sm-md) {
        p {
            font-size: 9px;
        }
    }

}