<div class="footer-container">
    <div class="top">
        <ul>
            <li>
                <!-- TODO: Update twitter href to DISCORD href -->
                <a href="https://twitter.com/obsidian__tears" target="_blank" rel="noopener">
                    <img id="toolbar-image" src="../../../../../assets/img/discord-obsidian-logo.svg" />
                    <span>Discord</span>
                    <span class="message">Obsidian Tears Community on Discord</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/obsidian__tears" target="_blank" rel="noopener">
                    <img id="toolbar-image" src="../../../../../assets/img/twitter-new-brand-icon-obsidian-logo.svg" />
                    <span>Twitter</span>
                    <span class="message">Connect with &#64;obsidian__tears on Twitter</span>
                </a>
            </li>
        </ul>
    </div>

    <p>Super-powered by Obsidian Tears ©2023-2024. Code licensed under an MIT-style License. All rights reserved - Copyright ©2023-2024.</p>

</div>