@import "./../../../styles/colors.scss";
@import "./../../../styles/viewports.scss";

.icon {
  a {
    width: 24px;
  }

  img {

    margin: 0;
    width: 24px;
  }

  &.logo {
    img {
      width: 44px;
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 5px;

  @media (max-width: $lt-sm-md) {
    flex-direction: column;
  }

  &.is-sidenav {
    width: 100%;

    button {
      margin-bottom: 26px;
    }

    align-items: center;

    .logo {
      width: calc(100% - 3px);
      align-items: center;
      display: flex;
      justify-content: center;

      a {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;

        img {
          width: 55px;
        }
      }

    }

    .logo-txt {
      width: 100%;
      margin-bottom: 28px;
    }

    .toolbar-title {
      display: flex;
      flex-direction: column;
      // font-family: Material Symbols Outlined;
      font-family: 'retro-computer-font', sans-serif; // font for the logo header txt

      text-align: center;
      line-height: normal;
      color: $primary-brown-light-color;
      font-size: 1rem;
      padding-top: 0;

      &:hover {
        color: $primary-brown-orange-color;
      }
    }

    @media (min-width: $gt-sm-md) {
      display: none;
    }

  }
}

.navig-item {
  @media (max-width: $lt-sm-md) {
    margin: .5rem;
  }

  @media(max-height: $lt-sm-md-vh) {
    margin: .1rem;
  }

  color: whitesmoke;
  img {
    filter: grayscale(100%);
  }

  &:hover {
    color: $primary-blue-grey-color;
    cursor: pointer;

    img {
      filter: grayscale(0%);
    }
  }
}

ul {
  font-family: 'pixeled-font', sans-serif; // font for the buttons on the sidenav and top nav
  padding: 0;
  margin: 0 16px;
  list-style: none;
  width: 100%;

  @media (max-width: $lt-sm-md) {
    margin: 20px 0;
  }

  a {
    font-size: .7rem;
    text-decoration: none;
    padding: 0 16px; // right and left


    @media (max-width: $lt-md1) {
      padding: 0 10px;
      font-size: .6rem;
    }
    @media (max-width: $lt-md) {
      padding: 0 6px;
      font-size: .55rem;
    }
    @media (max-width: $lt-sm-md) {
      padding: 12px 0;
      font-size: .6rem;
    }
  }
}

.li-container {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $lt-sm-md) {
    flex-direction: column;
  }

}

.margin-applied {
  @media (max-width: $lt-sm-md) {
    margin-top: 70px;

    @media(max-height: $lt-sm-md-vh) {
      margin-top: 0;
    }
  }

  @media (min-width: $gt-sm-md) {
    margin-left: 50px;
  }
}


.active-router-link {
  border-top: $primary-deep-crimson 2px solid;

  @media (min-width: $gt-sm-md) {
    border-left: $primary-deep-crimson 2px solid;
  }

  @media (max-width: $lt-sm-md) {
    width: calc(100% - 3px);
    border-left: $primary-deep-crimson 3px solid;
  }
}

.active-logo-router-link {
  border-left: $primary-deep-crimson 3px solid;
}

.close-btn {
  &:hover {
    background-color: rgba($primary-deep-crimson, 0.3);
  }
}

.support-icon {
  @media (max-width: $lt-sm-md) {
    display: none;
  }
  @media (max-width: $lt-lg1) {
    span {
      display: none;
    }
  }
}

///////////////////////////////////////////////////
// Animation /////////////////////////////////////

@keyframes widerRotate {
  0% {
    transform: rotate(0deg) scaleX(1);
  }
  50% {
    transform: rotate(180deg) scaleX(1.7) scaleY(1.5);
  }
  100% {
    transform: rotate(360deg) scaleX(1) scaleY(1);
  }
}

.show-moving {
  // transform: rotate(360deg);
  // transition-duration: 1s;
  animation: widerRotate 1.4s linear
}