@import "./../../../styles/colors.scss";
@import "./../../../styles/viewports.scss";

.mat-toolbar {
  background: $primary-brown-dark-low-opa-color;
}

mat-toolbar {
  border-bottom: 4px solid $primary-brown-orange-color;

  ul {
    font-family: 'pixeled-font', sans-serif; // font for the buttons on the header

    padding: 0;
    list-style: none;
    width: 100%;

    li {
      padding: 0 1rem;
    }
  }
}

.add-space-container {
  display: flex;
  justify-content: space-between;
}

.icon {
  a {
    display: block;
    width: 1.5rem; //24px;
  }

  img {
    display: block;
    margin: 0;
    width: 1.5rem; //24px;
  }

  &.logo {
    img {
      width: 3.438rem; //55px;
    }
  }
}

.li-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
  }

  .toolbar-title {
    display: flex;
    flex-direction: column;
    // font-family: Material Symbols Outlined;
    font-family: 'retro-computer-font', sans-serif; // font for the logo header txt

    text-align: center;
    line-height: normal;
    color: $primary-brown-light-color;
    font-size: 1.125rem; //18px

    &:hover {
      color: $primary-brown-orange-color;
    }

    @media (min-width: $gt-md) {
      gap: 0.375rem; //6px
    }

    @media (min-width: $gt-lg) {
      flex-direction: row;
      gap: .75rem; //12px
      font-size: 1.5rem;
    }

    &.active-router-link {
      border-top: $primary-deep-crimson 1px solid;
      border-left: $primary-deep-crimson 2px solid;
    }

  }

}

.icon-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.375rem; //6px
}

.menu-btn {
  color: whitesmoke;
  margin-left: 1.25rem; //20px

  &:hover {
    background-color: rgba($primary-deep-crimson, 0.3);
  }

  @media (min-width: $gt-sm-md) {
    display: none;
  }
}

.navig-item {
  &:hover {
    color: $primary-blue-grey-color;
    cursor: pointer;
  }
}

.hide-item {
  @media (max-width: $lt-sm-md) {
    display: none;
  }
}