<mat-toolbar>
  <ul>
    <div class="add-space-container">
      <div class="li-container">
        <li class="icon-menu-container">
          <div class="icon logo" [@logoAnimation]="isRotating()">
            <a routerLink="/welcome" routerLinkActive="active-router-link" (mouseover)="showMovingLogo = true"
              (mouseout)="showMovingLogo = false"><img id="toolbar-image"
                src="../../../../../assets/img/abstract-retro-game.svg" />
            </a>
          </div>
          <button mat-icon-button color="primary" class="menu-btn navig-item" (click)="inputSideNav?.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
        </li>

        <li class="hide-item">
          <a class="toolbar-title" routerLink="/welcome" routerLinkActive="active-router-link" 
            (mouseover)="showMovingLogo = true"
            (mouseout)="showMovingLogo = false"><span>OBSIDIAN</span><span>TEARS</span></a>
        </li>
      </div>

      <div class="li-container hide-item">
        <app-nav-items-list></app-nav-items-list>
      </div>
    </div>
  </ul>
</mat-toolbar>