// HIDE
.hide-lt-xs {
    @media (max-width: $lt-xs) {
        display: none;
    }
}

// HEADER STYLE
.app-main-header {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #333;
    color: #32718c;
    padding: 0rem 1rem 1rem 1rem;

    @media (max-width: $lt-sm-md) {
        font-size: 14px;
    }
}

mat-label {
    @media (max-width: $lt-sm-md) {
        font-size: 12px;
    }
}

//////////////////////////////////////////////////////////////
// LINK STYLE
a {
    text-decoration: none;
    color: #32718c;

    &:hover,
    &:active {
        color: #3c94b9;

    }

    @media (max-width: $lt-sm-md) {
        font-size: 12px;
    }
}

//////////////////////////////////////////////////////////////
// CURTAIN STYLE
.curtain-container {
    position: relative;
    overflow: hidden;
}

.curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba($primary-deep-crimson, 0.4);
    /* Blue with 50% opacity */
    transition: height 0.5s ease;
    /* Animation duration and easing */
    z-index: 10;
}

.curtain-content {
    padding: .25rem;
    position: relative;
    z-index: 20;
    /* Higher z-index than the curtain */
}

/* Hover effect */
.curtain-container:hover .curtain {
    height: 100%;
    /* Expand the curtain on hover */
    z-index: 10;
}

/////////////////////////////////////////////////////////////////////////////////////////////