@import "./theme.scss";
@import "./viewports.scss";
@import "./colors.scss";
@import "./fonts.scss";

html,
body {
  height: 100%;
  // body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  // font-family: 'Press Start 2P', cursive;
  // font-family: 'windows-regular-font', sans-serif; 
  font-family: 'retro-gaming-font', cursive;
  font-weight: 700;
}

body {
  margin: 0;

  ::-webkit-scrollbar {
    width: 10px;
    height: 4.4px;

    &-track {
      background-color: $primary-brown-dark-low-opa-color; // same as header bg-color / same as footer bg-color
    }

    &-thumb {
      background-color: $brown-scrollbar-thumb-color;
      border-radius: 20px;

      &:hover {
        background-color: $brown-scrollbar-thumb-hover;
        cursor: grab !important;
      }

      &:active {
        background-color: $brown-scrollbar-thumb-active;
        cursor: grabbing;
      }
    }

  }

}