@import "./theme.scss";
@import "./viewports.scss";
@import "./colors.scss";

html,
body {
  height: 100%;
  // body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  // font-family: 'Press Start 2P', cursive;
  font-family: 'Pixel Font', sans-serif;
}

body {
  margin: 0;

  ::-webkit-scrollbar {
    width: 10px;
    height: 4.4px;

    &-track {
      background-color: #00000020;
    }

    &-thumb {
      background-color: lighten(rgba(0, 150, 136, 0.15), 10%);;
      border-radius: 20px;

      &:hover {
        background-color: darken(rgba(0, 150, 136, 0.44), 1%);
      }

      &:active {
        background-color: darken(rgba(0, 150, 136, 0.64), 10%);
      }
    }

  }

}