<div *ngIf="swiperImages" class="swiper-container">

    <swiper [loop]="true" [spaceBetween]="10"
        [keyboard]="{enabled: true}" [navigation]="true" [thumbs]="{swiper: thumbsSwiper}" [zoom]="true"
        class="bigGallerySwiper">
        <ng-template *ngFor="let swiperImage of swiperImages" swiperSlide>
            <img src="{{swiperImage}}" />
        </ng-template>
    </swiper>
    <swiper (swiper)="thumbsSwiper = $event" [loop]="true" [spaceBetween]="10" [keyboard]="{enabled: true}"
        [slidesPerView]="4" [freeMode]="true" [watchSlidesProgress]="true" class="smallGallerySwiper">
        <ng-template *ngFor="let swiperImage of swiperImages" swiperSlide>
            <img src="{{swiperImage}}" />
        </ng-template>
    </swiper>

</div>