@import './../../../../styles/colors.scss';

.welcome-container {
    // color: $primary-gold-rush;
    // min-height: 1000px;


    a {
        text-decoration: none;
        color: white;
    
        &:hover,
        &:active {
          color: whitesmoke;
          cursor: pointer;
        }
      }


}