@import './../../../../styles/colors.scss';
@import './../../../../styles/dimensions.scss';
@import './../../../../styles/viewports.scss';
@import './../../../../styles/global-styles.scss';

.welcome-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cards-container {
    height: calc(100% - ($toolbar-height + $app-main-container-padding-top-height));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1500px;

    .card {
      flex-grow: 1;
      box-shadow: 0 0 0 1px $primary-deep-crimson;
    }

    .left-card {
      height: 30vh;
      min-height: 260px;
      width: 30%;
      z-index: 1;
      margin-top: -5%;
      // background-color: rgba(15, 41, 51, 0.5);
      // background-color: rgb(90, 130, 95); // - muted green
      background-color: $primary-blue-muted-color; // - muted blue
    }

    .right-card {
      height: 71vh;
      min-height: 650px;
      width: 41%;
      margin-left: -20%; // Overlap the left card by 20%
      // background-color: rgba(15, 41, 51, 0.5);
      // background-color: rgba(90, 130, 95, 0.7); // - muted green
      background-color: $primary-blue-muted-mid-low-opa-color; // - muted blue
    }

    .mini-section {
      display: flex;
      width: 100%;

      &.left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        @media (max-width: $lt-sm-md) {
          flex-direction: column;
          gap: 1.5rem;
        }

        img {
          width: 30rem;
          height: 10rem;
          margin: 2rem;
          filter: brightness(0.90);
          border-radius: 8px;
          box-shadow: 0 0 15px #fce7d0;
          transition: transform .7s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          @media (max-width: $gt-sm) {
            width: 7rem;
            height: 4rem;
            margin: .5rem;
            border-radius: 4px;
            box-shadow: 0 0 7px #fce7d0;
          }

          @media (min-width: $lt-sm) {
            width: 12rem;
            height: 7rem;
            margin: 1rem;
          }

          @media (min-width: $lt-sm-md) {
            width: 14rem;
            height: 8rem;
            margin: 2rem;
          }

          @media (min-width: $lt-md) {
            width: 16rem;
            height: 9rem;
          }

          @media (min-width: $lt-lg) {
            width: 34rem;
            height: 12rem;
          }
        }

        p {
          padding: 2rem;
        }
      }

      &.right {

        &.content-right {
          justify-content: flex-end;
        }

        img {
          width: 8rem;
          height: 9rem;
          margin: 2rem;
          border-radius: 8px;
          box-shadow: 0 0 15px #fce7d0;
          transition: transform .7s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }

          @media (max-width: $lt-lg) {
            margin: .5rem;
            width: 7rem;
            height: 8rem;
          }

          @media (max-width: $lt-sm-md) {
            width: 5rem;
            height: 6rem;
          }

          @media (min-width: $gt-lg) {
            width: 12rem;
            height: 13rem;
          }
        }
      }
    }

    .right-card-content {
      display: flex;
      margin-left: 34%;
      flex-direction: column;

      .title {
        padding: 1rem;
        margin-bottom: 1rem;

        @media (max-width: $lt-lg) {
          align-self: center;
          margin-bottom: 0rem;
        }
      }

      .mini-cards-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;

        @media (max-width: $lt-lg) {
          flex-direction: column;
          gap: .5rem;
          margin-bottom: .5rem;
          align-items: center;
        }

        .mini-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          box-shadow: 0 0 8px #fce7d0;

          mat-label {
            padding: 1rem;
          }

          @media (max-width: $lt-lg2) {
            gap: .5rem;

            mat-label {
              padding: 0.2rem;
              padding-bottom: 0;
            }

            width: 150px;
          }

          @media (max-width: $lt-lg) {
            gap: .4rem;

            mat-label {
              padding: 0.1rem;
              padding-bottom: 0;
            }

            width: 150px;
          }

          @media (max-width: $lt-sm) {
            box-shadow: none;
          }

          img {
            width: 5rem;
            margin: .5rem;

            @media (max-width: $lt-sm-md) {
              width: 3rem;
            }

            @media (min-width: $gt-lg) {
              width: 4rem;
            }

            @media (min-width: $gt-lg1) {
              width: 5rem;
            }

            @media (min-width: $gt-xl) {
              width: 6rem;
            }
          }

          &:hover {
            transform: scale(1.04);
            transition: transform .5s ease-in;

            img {
              transform: scale(1.04);
            }
          }
        }
      }

    }

    .right-card-bottom {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      @media (max-width: $lt-lg) {
        padding: 1rem;
      }

      @media (max-width: $lt-sm-md) {
        padding: 2rem;
        margin-top: 1rem;
      }
    }

  }

}